argon2==0.1.10
asgiref==3.8.1
bpython==0.24
cx_Oracle==8.3.0
docutils==0.21.2
ipdb==0.13.13
ipython==8.12.3
MySQL-python==1.2.5
numpy==2.0.0
Pillow==10.3.0
psycopg2==2.9.9
pylibmc==1.6.3
python_bcrypt==0.3.2
python_memcached==1.62
pytz==2024.1
pywatchman==2.0.0
PyYAML==6.0.1
PyYAML==6.0.1
setuptools==68.0.0
Sphinx==7.3.7
sqlparse==0.5.0
tblib==3.0.0
